@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
html, 
body {
    background-color: #f6a1b3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff9fb;
    font-family: "Poetsen One";
    font-size: 250px;
}

.nav{  
    display: block;
    width: 40vw;
    background-color: #fff9fb;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    z-index: 2;
    margin-top: 0.5em;
}

.menu_item{
  display: inline-flex;
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #323232;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 0.5em;
    z-index: 2;
}

.menu_item_active{
  display: inline;
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #fff9fb;
  background-color: #323232;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 0.5em;
  z-index: 2;
}

  
@media (max-width: 430px) {
  }