@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
html, 
body {
    background-color: #f6a1b3;
    width: 100%;
    height: 100%;
}

h1 {
    color: #fff9fb;
    font-family: "Poetsen One";
    font-size: 250px;
}

.menu{  
    width: 50vw;
    background-color: #fff9fb;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    z-index: 2;
}

.menu_item{
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #323232;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 1em;
    z-index: 2;
}

.menu_item_active{
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #fff9fb;
  background-color: #323232;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 2em;
  z-index: 2;
}

spline-viewer {
    width: 100%;
    position: absolute;
    margin-left: 20vw;
    top: 0;
    right: 0;
    z-index: 1;
    margin-right: auto;
    scale: 1;
}
@media (max-width: 600px) {
  .sidebar {
    max-width: 200px;
  }
}


@media (max-width: 1024px) {
    .sidebar {
      max-width: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    .content {
      padding-top: 8rem;
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: -300px;
      height: 100vh;
      width: 100%;
      max-width: 300px;
      transition: 0.2s linear;
    }
  
    .sidebar.is-active {
      left: 0;
    }
  }