@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Signika:wght@300..700&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
*{
    background-color: #f6a1b3;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav{  
    display: block;
    width: 45vw;
    height: 2vh;
    background-color: #fff9fb;
    display: block;
    position: fixed;
    left: 25%;
    top: 0;
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    margin-top: 0.5em;
}

.menu_item{
    display: inline;
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #323232;
    background-color: #fff9fb;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.menu_item_active{
  display: inline;
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #fff9fb;
  background-color: #323232;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 0.5em;
}

.menu_item:hover, .menu_item_active:hover{
    color: #323232;
    background-color: #f6a1b3;
  }

spline-viewer {
    display: block;
    width: 100vw;
    height: 95vh;
    position: absolute;
    margin-top: 10vh;
    margin-left: 20vw;
    top: 0;
    right: 0;
    z-index: 2;
    scale: 1;
}
  
@media (max-width: 430px) {
  spline-viewer {
    display: none;
  }
  }