@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Signika:wght@300..700&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
*{
    background-color: #f6a1b3;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav{  
    display: block;
    width: 45vw;
    height: 2vh;
    background-color: #fff9fb;
    position: fixed;
    left: 25%;
    top: 0;
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    margin-top: 0.5em;
}

.big{
  background-color: #fff9fb;
}

.small{
  display: none;
}

.menu_item{
    display: inline;
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #323232;
    background-color: #fff9fb;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.menu_item_active{
  display: inline;
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #fff9fb;
  background-color: #323232;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 0.5em;
}

.menu_item:hover, .menu_item_active:hover{
    color: #323232;
    background-color: #f6a1b3;
  }

.maps{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1vw;
    height: 100vh;
    width: 90vw;
    margin-left: 4.5vw;
}

#s1{
    grid-column: 1/2;
    height: auto;
    width: auto;
}

iframe{
    height: 62vh;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}

#h11{
    font-family: 'Poetsen one';
    font-weight: bold;
    display: inline-block;
    width: 25vw;
    height: auto;
    background-color: #323232;
    color: #f6a1b3;
    margin-top: 1vh;
    margin-left: 1vw;
}
#p1{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: 10vw;
    height: auto;
    background-color: #323232;
    color: #fcdd6d;
    margin-top: 0.5vh;
    margin-left: 1vw;
}

#p2{
    font-family: 'Nunito';
    font-weight: bold;
    font-size: small;
    display: inline-block;
    width: 10vw;
    height: auto;
    background-color: #323232;
    color: #fff9fb;
    margin-left: 1vw;
}

#p3{
    font-family: 'Nunito';
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    width: 10vw;
    height: auto;
    background-color: #323232;
    color: #fff9fb;
    margin-left: 1vw;
}

#s2{
    display: grid;
    grid-template-columns: 2/3;
    grid-row-gap: 2vh;
    border-radius: 2em;
    height: 30vh;
}

#ss2{
    display: grid;
    background-color: #323232;
    border-radius: 2em;
}
@media (max-width: 430px) {
    .small{
      display: inline-block;
      background-color: #fff9fb00;
    }
    
    .big{
      display: none;
    }
  
    .nav{  
      display: flex;
      justify-content: center;
      width: 45vw;
      height: 2vh;
      background-color: #fff9fb;
      position: fixed;
      left: 25%;
      top: 0;
      text-align: center;
      border-radius: 2em;
      padding: 1em;
      margin-top: 0.5em;
  }
    .container{
      display: none;
      position: relative;
      right: 1em;
      background-color: #fff9fb;
      width: 44.5vw;
      height: auto;
      border-radius: 0 0 1.5em 1.5em;
      padding: 1vw 4vw;
      padding-top: 3px;
      margin-right: 100vw;
      margin-top: 1.3vh;
    }
  
    .menu_item{
      display: block;
      font-family: "Poetsen One";
      font-size: 1.05em;
      width: auto;
      color: #323232;
      background-color: #fff9fb; 
      text-decoration: none;
      border-radius: 2em;
      padding: 1vw;
      margin: 2vw;
  }
  .menu_item:hover, .menu_item_active:hover{
    color: #323232;
    background-color: #f6a1b3;
  }
    .maps{
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        margin-left: 10vw;
    }
    #h11{
        font-family: 'Poetsen one';
        font-weight: bold;
        display: inline-block;
        width: 65vw;
        height: auto;
        background-color: #323232;
        color: #f6a1b3;
        margin-top: 1vh;
        margin-left: 1vw;
    }
    #p1{
        font-family: 'Nunito';
        font-weight: bold;
        display: inline-block;
        width: 50vw;
        height: auto;
        background-color: #323232;
        color: #fcdd6d;
        margin-top: 0.5vh;
        margin-left: 1vw;
    }
    
    #p2{
        font-family: 'Nunito';
        font-weight: bold;
        font-size: small;
        display: inline-block;
        width: 50vw;
        height: auto;
        background-color: #323232;
        color: #fff9fb;
        margin-left: 1vw;
    }
    
    #p3{
        font-family: 'Nunito';
        font-weight: bold;
        font-size: x-large;
        display: inline-block;
        width: 50vw;
        height: auto;
        background-color: #323232;
        color: #fff9fb;
        margin-left: 1vw;
    }
    #ss2{
        display: grid;
        background-color: #323232;
        border-radius: 2em;
        padding-left: 1.5vw;
    }
  }