@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Signika:wght@300..700&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
*{
    background-color: #f6a1b3;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin-bottom: 10vh;
}

.nav{  
    display: block;
    width: 45vw;
    height: 2vh;
    background-color: #fff9fb;
    display: block;
    position: fixed;
    left: 25%;
    top: 0;
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    margin-top: 0.5em;
}

.menu_item{
    display: inline;
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #fff9fb;
    background-color: #323232;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.menu_item_active{
  display: inline;
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #323232;
  background-color: #f6a1b3;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 0.5em;
}

.menus{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1vw;
    height: 100vh;
    width: 90vw;
    margin-left: 4.5vw;
}

img{
    height: auto;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}

#s1{
    grid-column: 1/4;
    background-color: #323232;
    height: auto;
    width: auto;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}
#h1-1{
    display: inline-block;
    font-family: "Poetsen One";
    font-size: 3em;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #f6a1b3;
    margin-left: 1vw;
    margin-top: 1vh;
}

#h1-15{
    display: inline-block;
    font-family: "Poetsen One";
    font-size: 3em;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fcdd6d;
    margin-left: 1vw;
    margin-top: 1vh;
}

#h11{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #f6a1b3;
    padding-left: 1vw;
}
#h115{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fcdd6d;
    padding-left: 1vw;
}


#p1{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fff9fb;
    padding-left: 1vw;
    margin-bottom: 1.5vh;
}

#s2{
    grid-column: 4/5;
}

#s3{
    grid-column: 1/2;
}

#s4{
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: #323232;
    height: auto;
    width: auto;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}
#h12{
    grid-column: 2/5;
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fff9fb;
    padding-left: 1vw;
    padding-top: 1vw;
    margin-bottom: 1.5vh;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}

#s5{
    grid-column: 1/4;
    background-color: #323232;
    height: auto;
    width: auto;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}
#h13{
    grid-column: 1/4; 
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fff9fb;
    padding-left: 1vw;
    padding-top: 1vw;
    margin-bottom: 1.5vh;
    border-radius: 1em;
    border-color: #323232;
    border-style: solid;
    border-width: 0.3em;
}

#s6{
    grid-column: 4/5;
}

@media (max-width: 430px) {
    .menus{
        display: grid;
        grid-template-columns: 1fr;
    }
    #s1, #s2, #s3, #s4, #s5, #s6{
        grid-column: auto;
    }
    #s4{
        grid-row: 3/4;
    }
  }