@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Signika:wght@300..700&family=Wellfleet&display=swap');
:root {
    --primary: #ffd43d;
    --primary1: #f6a1b3;
    --light: #323232;
    --dark: #06c105;
    --dark2: #c9a78d;
  }
*{
    background-color: #f6a1b3;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav{  
    display: block;
    width: 45vw;
    height: 2vh;
    background-color: #fff9fb;
    position: fixed;
    left: 25%;
    top: 0;
    text-align: center;
    border-radius: 50px;
    padding: 1em;
    margin-top: 0.5em;
}

.big{
  background-color: #fff9fb;
}

.small{
  display: none;
}

.menu_item{
    display: inline;
    font-family: "Poetsen One";
    font-size: 1.05em;
    color: #323232;
    background-color: #fff9fb;
    text-decoration: none;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.menu_item_active{
  display: inline;
  font-family: "Poetsen One";
  font-size: 1.05em;
  color: #fff9fb;
  background-color: #323232;
  text-decoration: none;
  border-radius: 10em;
  padding: 0.5em;
  margin: 0em 0.5em;
}

.menu_item:hover, .menu_item_active:hover{
    color: #323232;
    background-color: #f6a1b3;
  }

.head{
    display: inline-block;
    border-radius: 2em;
    background-color: #323232;
    height: 80vh;
    width: 90vw;
    text-align: center;
    margin-top: 8vh;
    margin-left: 5vw;
}

.h11{
    display: inline-block;
    font-family: "Poetsen One";
    font-size: 3em;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #f6a1b3
}

p{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #fff9fb
}

.link{
    font-family: 'Nunito';
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #323232;
    color: #f6a1b3
}

.form{
    display: inline-block;
    border-radius: 2em;
    background-color: #f6a1b3;
    height: 60vh;
    width: 80vw;
    text-align: center;
    margin-top: 3vh;
    font-family: 'Nunito';
    font-weight: bold;
}

.h12{
    display: inline-block;
    font-family: "Poetsen One";
    font-size: 2.5em;
    width: auto;
    height: auto;
    background-color: #f6a1b3;
    color: #323232
}

label{
    font-family: 'Nunito';
    font-weight: bold;
}

input{
    width: 75%;
    height: auto;
    border-radius: 20px;
    padding: 0.2em 0.5em;
    background-color: #fff9fb;
    border-color: #f6a1b3;
    margin-bottom: 1vh;
    font-family: 'Nunito';
    font-weight: bold;
}

select{
    width: 75%;
    height: auto;
    border-radius: 20px;
    padding: 0.2em 0.5em;
    background-color: #fff9fb;
    border-color: #f6a1b3;
    margin-bottom: 1vh;
    font-family: 'Nunito';
    font-weight: bold;
}   

option{
    width: 75%;
    height: auto;
    border-radius: 20px;
    border-color: #f6a1b3;
    padding: 0.2em 0.5em;
    background-color: #fff9fb;
    margin-bottom: 1vh;
    font-family: 'Nunito';
    font-weight: bold;
}

::placeholder{
    color: #323232;
}

.details{
    display: grid;
    background-color: #f6a1b3;
    text-align: left;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
    font-family: 'Nunito';
    font-weight: bold;
}

#date{
    margin-left: 2vw;
}

#pickup{
    margin-left: 2vw;
    width: auto;
}

#date_ent{
    margin-left: 2vw;
    height: 1.5em;
}

#pickup_ent{
    margin-left: 2vw;
    height: 1.5em;
}

#order{
    height: 10vh;
    display: inline-block;
    margin-bottom: 3vh;
}

#confirm{
    font-size: 1.5em;
    background-color: #323232;
    color: #fff9fb;
    width: 10vw;
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-top: 40vh;
    cursor: pointer;
}

@media (max-width: 430px) {
    .small{
      display: inline-block;
      background-color: #fff9fb00;
    }
    
    .big{
      display: none;
    }
  
    .nav{  
      display: flex;
      justify-content: center;
      width: 45vw;
      height: 2vh;
      background-color: #fff9fb;
      position: fixed;
      left: 25%;
      top: 0;
      text-align: center;
      border-radius: 2em;
      padding: 1em;
      margin-top: 0.5em;
  }
    .container{
      display: none;
      position: relative;
      right: 1em;
      background-color: #fff9fb;
      width: 44.5vw;
      height: auto;
      border-radius: 0 0 1.5em 1.5em;
      padding: 1vw 4vw;
      padding-top: 3px;
      margin-right: 100vw;
      margin-top: 1.3vh;
    }
  
    .menu_item{
      display: block;
      font-family: "Poetsen One";
      font-size: 1.05em;
      width: auto;
      color: #323232;
      background-color: #fff9fb; 
      text-decoration: none;
      border-radius: 2em;
      padding: 1vw;
      margin: 2vw;
  }
  .menu_item:hover, .menu_item_active:hover{
    color: #323232;
    background-color: #f6a1b3;
  }
    #order{
        margin-bottom: 2vh;
    }
    #confirm{
        font-size: 1.25em;
    }
  }